<a href="https://colab.research.google.com/github/farah1432/python-practice-problems/blob/main/Introduction_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to **Colab** **bold text**

In [26]:
import pandas as pd

In [27]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [28]:
my_saved_df = pd.read_csv("homelessness.csv")
print(type(df))
my_saved_df.head(20)

<class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588
5,5,Mountain,Colorado,7607.0,3250.0,5691287
6,6,New England,Connecticut,2280.0,1696.0,3571520
7,7,South Atlantic,Delaware,708.0,374.0,965479
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
12,12,Mountain,Idaho,1297.0,715.0,1750536
13,13,East North Central,Illinois,6752.0,3891.0,12723071
14,14,East North Central,Indiana,3776.0,1482.0,6695497
15,15,West North Central,Iowa,1711.0,1038.0,3148618
16,16,West North Central,Kansas,1443.0,773.0,2911359
17,17,East South Central,Kentucky,2735.0,953.0,4461153
18,18,West South Central,Louisiana,2540.0,519.0,4659690
19,19,New England,Maine,1450.0,1066.0,1339057

In [30]:
sorted = my_saved_df.sort_values(
    by= ["region"],
    ascending= [True]
)

sorted.head(50)

,Unnamed: 0,region,state,individuals,family_members,state_pop
35,35,East North Central,Ohio,6929.0,3320.0,11676341
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
22,22,East North Central,Michigan,5209.0,3142.0,9984072
13,13,East North Central,Illinois,6752.0,3891.0,12723071
14,14,East North Central,Indiana,3776.0,1482.0,6695497
0,0,East South Central,Alabama,2570.0,864.0,4887681
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
24,24,East South Central,Mississippi,1024.0,328.0,2981020
17,17,East South Central,Kentucky,2735.0,953.0,4461153
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
44,44,Mountain,Utah,1904.0,972.0,3153550
31,31,Mountain,New Mexico,1949.0,602.0,2092741
28,28,Mountain,Nevada,7058.0,486.0,3027341
26,26,Mountain,Montana,983.0,422.0,1060665
50,50,Mountain,Wyoming,434.0,205.0,577601
2,2,Mountain,Arizona,7259.0,2606.0,7158024
12,12,Mountain,Idaho,1297.0,715.0,1750536
5,5,Mountain,Colorado,7607.0,3250.0,5691287
19,19,New England,Maine,1450.0,1066.0,1339057
21,21,New England,Massachusetts,6811.0,13257.0,6882635
45,45,New England,Vermont,780.0,511.0,624358
39,39,New England,Rhode Island,747.0,354.0,1058287
29,29,New England,New Hampshire,835.0,615.0,1353465
6,6,New England,Connecticut,2280.0,1696.0,3571520
37,37,Pacific,Oregon,11139.0,3337.0,4181886
47,47,Pacific,Washington,16424.0,5880.0,7523869
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
4,4,Pacific,California,109008.0,20964.0,39461588
1,1,Pacific,Alaska,1434.0,582.0,735139
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
7,7,South Atlantic,Delaware,708.0,374.0,965479
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,41,West North Central,South Dakota,836.0,323.0,878698
15,15,West North Central,Iowa,1711.0,1038.0,3148618
34,34,West North Central,North Dakota,467.0,75.0,758080
16,16,West North Central,Kansas,1443.0,773.0,2911359
27,27,West North Central,Nebraska,1745.0,676.0,1925614
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
25,25,West North Central,Missouri,3776.0,2107.0,6121623
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
43,43,West South Central,Texas,19199.0,6111.0,28628666
18,18,West South Central,Louisiana,2540.0,519.0,4659690

In [34]:
individuals	= my_saved_df["individuals"]
print(type(individuals))
print(individuals)

<class 'pandas.core.series.Series'>
0       2570.0
1       1434.0
2       7259.0
3       2280.0
4     109008.0
5       7607.0
6       2280.0
7        708.0
8       3770.0
9      21443.0
10      6943.0
11      4131.0
12      1297.0
13      6752.0
14      3776.0
15      1711.0
16      1443.0
17      2735.0
18      2540.0
19      1450.0
20      4914.0
21      6811.0
22      5209.0
23      3993.0
24      1024.0
25      3776.0
26       983.0
27      1745.0
28      7058.0
29       835.0
30      6048.0
31      1949.0
32     39827.0
33      6451.0
34       467.0
35      6929.0
36      2823.0
37     11139.0
38      8163.0
39       747.0
40      3082.0
41       836.0
42      6139.0
43     19199.0
44      1904.0
45       780.0
46      3928.0
47     16424.0
48      1021.0
49      2740.0
50       434.0
Name: individuals, dtype: float64

In [35]:
state	= my_saved_df["state"]
print(type(state))
print(state)

<class 'pandas.core.series.Series'>
0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [38]:
mask = my_saved_df["state"]=="Utah"
df_Mountain = df [mask]
print(df_Mountain)
df_Mountain.head(20)

    Unnamed: 0    region state  individuals  family_members  state_pop
44          44  Mountain  Utah       1904.0           972.0    3153550

    Unnamed: 0    region state  individuals  family_members  state_pop
44          44  Mountain  Utah       1904.0           972.0    3153550